footer{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  color: $couleur-texte;
  background: $couleur-footer;
  text-shadow: 1px 1px 10px rgba(205, 205, 205, 0.50)

}

footer i{
  color: $couleur-texte;
}
footer i:hover{
  color: $couleur-highlight;
}