.section-inscription form{
  padding: 16px 16px;
  margin: 50px 0;

}

.section-inscription fieldset{
  background: $couleur-hover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.section-inscription label{
  //width: 100%;

  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 20px;
}

.section-inscription input{
  height: 60px;
  width: 100%;
}


.div-inscription{
  width: 33%;
}





.div-inscription legend{
  padding: 40px 0 10px 0;
  font-size: $fz-h4;
  margin-left: 0;
  margin-bottom: 10px;
}

.div-inscription .snipButton{
  width: 200px;
  margin-right: 0;
  margin-top: 70px;
}
.div-inscription .snipButton:hover{
  background: $couleur-bg-article;
}


.div-inscription .flex{
align-items: flex-end;
}
