//hero{
//  //background-size: cover;
//  //position: relative;
//
//  width: 100%;
//  height: 500px;
//  z-index: -1;
//}
.heroFicheMain img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imageHero{
  height: 600px;
  background: url("../../images/timeattack1_d2cmdw_c_scale,w_1858.jpg") bottom;
  background-size: cover;
}

.heroFicheMain .heroTitre{
  position: absolute;
  top: 40%;
  left: 0;
}


.hero img{
  width: 100vw;
}



.heroTitre{
  width: 100%;
  top: 60%;
  position: absolute;
  text-align: center;


  background: rgba(33,33,33, 0.65);

  h1{
    font-family: $ff-normal;
    font-weight: bold;
    font-size: $fz-oversize;
    color: $couleur-highlight;
  }

}




//tablette
@media screen and (max-width: $med-width){
  .imageHeroMain{
    height: 500px;
    background: url("../../images/timeattack1_d2cmdw_c_scale,w_993.jpg") bottom;
  }

    @media screen and (min-resolution: 192dpi){
      background: url("../../images/timeattack1_d2cmdw_c_scale,w_1858.jpg") bottom;

    }

}



//mobile
@media screen and (max-width: $min-width){
  .imageHeroMain{
    height: 325px;
    background: url("../../images/timeattack1_d2cmdw_c_scale,w_712.jpg") bottom;
  }

      @media screen and (min-resolution: 192dpi) {
        background: url("../../images/time_a");
      }
}