.section-ajouter{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.padding-section .legendMain{
  font-size: $fz-oversize;
}

.padding-section legend{
  margin-top: 40px;
  font-size: $fz-h4;

}

#fichier{
  margin-top: 10px;
}


.padding-section{
  padding: 50px 0;
}

.padding-section fieldset{
  background: $couleur-hover;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 0 50px;
}

.padding-section form{
  padding-bottom: 30px;
}

.padding-section input{
  width: 100%;

  height: 60px;
}

.padding-section button{
  margin: 50px 0 30px 0;
  height: 60px;
}

.padding-section .snipButton:hover{
  background: $couleur-bg-article;
}

#contenu{
  margin-bottom: 20px;
}

