

///////////////////////////////HERO
.heroFiche img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imageHero{
  height: 500px;
  background: url("../../images/autocross3_fxk9s0_c_scale,w_2585.jpg") bottom;
  background-size: cover;
}

.heroFiche .heroTitre{
  position: absolute;
  top: 40%;
  left: 0;
}








/////////////////////SECTION ARTICLE AU COMPLET
.contenuFiche{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 50px 20px;
}






/////////////////////////////////SECTION AUTEUR

.imageArticle{
  background: $couleur-bg-article;
  width: 25%;
  padding: 40px 60px;

  align-items: center;


  p{
    font-size: $fz-h1;
  }

  strong{
    font-size: $fz-oversize;
  }

  small{
    font-size: $fz-h4;
  }

  .date small{
    font-size: $fz-h2;
  }
}

.imageArticle img{
  border-radius: 60%;
  width: 300px;
  height: 300px;
}



.texte{
  font-family: $ff-title;

  display: flex;
  flex-direction: column;

  .date p{
    margin: 50px 0 40px 0;
  }
}


.bordure{
  width: 220px;
  border-bottom: 2px solid $couleur-texte;
  margin-bottom: 0;
}

.categorie{
  margin-top: 0;
}

.categorie, .auteur{
  font-weight: bold;
}



///////////////////////////////////SECTION TEXTE
.informationArticle{
   width: 60%;
   padding-left: 30px;
 }




//tablette
@media screen and (max-width: $med-width){
 /// .imageHeroMain{
 ///   background: url("../../images/autocross3_fxk9s0_c_scale,w_2198.jpg") bottom;
 /// }

}



//mobile
@media screen and (max-width: $min-width){
  /// .imageHeroMain{
   /// background: url("../../images/autocross3_fxk9s0_c_scale,w_1204.jpg") bottom;
 /// }
}