


form{
  background: $couleur-bg-article;
  border-radius: 20px;

  padding: 16px 16px;
}

input{
  width: 100%;
   font-size: $fz-h4;
   font-family: $ff-normal;
 }

textarea{
    font-size: $fz-h4;
    font-family: $ff-normal;
}

legend{
  font-family: $ff-title;
  font-weight: $fw-semibold;

}

.legendMain{
  background: lighten($couleur-hover, 10%);
  border-radius: 20px;
  border: 3px solid $couleur-bg-article;

  font-size: $fz-oversize;

  padding:10px 10px;
  margin: 0 0 30px 20px;
}

fieldset{
  border: 1px solid $couleur-bg-article;
  border-radius: 20px;
}

//
//fieldset p{
//  display: flex;
//}

label{
  font-family: $ff-title;
}



