.main{
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 30px;
}

.main a:hover{
  color: lighten($couleur-texte,20%);
}

article{
  min-width: 300px;
  max-width: 380px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-right: 20px;

  background: $couleur-bg-article;
}

article img{
   height: 300px;
   width: 100%;
   object-fit: cover;
 }


figure{
 width: 380px;
  margin: 0 0;
}

figure img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.image{
  height: 300px;
  width: 100%;
  object-fit: cover;
}



article p, h2 {
  padding-top: 10px;
  margin: 0 0;
}
article h2{
  text-transform: none;
  //padding: 10px 0 ;
  transition: padding-left 1s;
}

article h2:hover{
  padding-left: 12px;
}


.contenu {
  margin-left: 20px;
  margin-right: 20px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-footer{
  display: flex;
  justify-content: flex-end;

}


